.statusContainer {
  position: absolute;
  bottom: 0;
  background-color: #16a084a4;
  color: whitesmoke;
  padding: 8px 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 60px;
}
